window#osd {
  background-color: alpha(#121214d0, 0.55);
  border-radius: 96px;
  padding: 0px 6px;
}

image {
  color: #bdc2ff;
  -gtk-icon-transform: scale(0.55);
}

progressbar {
  min-height: 6px;
}

progressbar progress {
  background-color: #bdc2ff;
  border-radius: 999px;
}

progressbar trough {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
}
