{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",

  "logo": {
    "source": "Fedora",
    "color": {
      "1": "{{colors.on_primary.default.hex}}",
      "2": "{{colors.primary.default.hex}}"
    }
  },

  "display": {
    "separator": "  ",
    "key": {
      "width": 14
    },
    "color": {
      "separator": "{{colors.primary.default.hex}}"
    }
  },

  "modules": [
    "break",

    {
      "type": "title",
      "color": {
        "user": "{{colors.primary.default.hex}}",
        "at": "{{colors.on_background.default.hex}}",
        "host": "{{colors.primary.default.hex}}"
      }
    },

    "break",

    {
      "type": "os",
      "key": " System",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "kernel",
      "key": "󰌽 Kernel",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "packages",
      "key": "󰏖 Packages",
      "keyColor": "{{colors.primary.default.hex}}"
    },

    "break",

    {
      "type": "wm",
      "key": "󱂬 WM",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "shell",
      "key": " Shell",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "terminal",
      "key": " Terminal",
      "keyColor": "{{colors.primary.default.hex}}"
    },

    "break",

    {
      "type": "cpu",
      "key": "󰍛 CPU",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "memory",
      "key": " Memory",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "disk",
      "key": "󰋊 Disk",
      "keyColor": "{{colors.primary.default.hex}}"
    },

    "break",

    {
      "type": "terminalfont",
      "key": " Font",
      "keyColor": "{{colors.primary.default.hex}}"
    },
    {
      "type": "uptime",
      "key": "󰥔 Uptime",
      "keyColor": "{{colors.primary.default.hex}}"
    },

    "break",

    {
      "type": "colors",
      "symbol": "circle"
    }
  ]
}
