* {
    background:     #101418;
    on-background:  #e0e2e8;

    surface:        #101418;
    on-surface:     #e0e2e8;

    primary:        #9dcbfb;
    on-primary:     #003355;

    secondary:      #b9c8da;
    error:          #ffb4ab;
}
