* {
    background:     #0f1511;
    on-background:  #dfe4dd;

    surface:        #0f1511;
    on-surface:     #dfe4dd;

    primary:        #90d5ad;
    on-primary:     #003822;

    secondary:      #b4ccbb;
    error:          #ffb4ab;
}
