* {
    background:     #131318;
    on-background:  #e4e1e9;

    surface:        #131318;
    on-surface:     #e4e1e9;

    primary:        #bdc2ff;
    on-primary:     #262b61;

    secondary:      #c4c4dd;
    error:          #ffb4ab;
}
